:root {
  /* Fonts */
  --max-width: 100vw;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f7f6f6;
  --accent-color: #67482c;
  --secondary-accent-color: #b58563;
  --secondary-color: #92747e;
}

/* Large screens */
.pageContent {
  margin-top:20vh;
}

.StaffpageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto auto auto; /* Three rows */
  gap: 20px;
  padding: 20px;
}

.logoSection {
  grid-column: 1 / 2; /* Logo in the first column */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  max-width: 100%;
  height: auto;
}

.titleSection {
  grid-column: 2 / 3; /* Title in the second column */
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-primary);
  text-align: center;
}

.beckySection, .jenSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Adjust Becky and Jen sections */
.beckySection, .jenSection {
  grid-column: 1 / 3;
}

.beckyImageContainer, .jenImageContainer {
  max-width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.beckyBioSection, .jenBioSection {
  flex: 1; /* Ensure text takes up available space */
  max-width: 50vw;
  padding: 20px;
}

.bioTitle {
  font-family: var(--font-accent);
  color: var(--primary-font-color);
  border-bottom: 5px solid var(--secondary-accent-color);
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-primary);
}

/* Small screens */
@media (max-width: 768px) {
  .StaffpageLayout {
    grid-template-columns: 1fr; /* Single column on small screens */
    grid-template-rows: auto auto auto auto; /* Stacks items vertically */
  }

  .logoSection, .titleSection, .beckySection, .jenSection {
    grid-column: 1 / 2;
  }

  .beckySection, .jenSection {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
  }
  .beckyBioSection, .jenBioSection {
  max-width: 80vw;
}

  .beckyImageContainer, .jenImageContainer {
    width: 80%; /* Adjust image size on small screens */
  }

  img {
    width: 100%;
    max-width: 250px;
  }
}
