.carouselContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: auto;
  border-radius: 10px;
}

.carouselImage {
  width: 100%;
  height:100%;
  border-radius: 10px;
}
