/* Google Fonts Import for Lora, Arapey, and Moontime */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Arapey:wght@400&family=Moontime&display=swap");
:root {
  /* Fonts */
  --max-width: 100vw;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f7f6f6;
  --accent-color: #67482c;
  --secondary-accent-color: #b58563;
  --secondary-color: #92747e;
}

.pageContent {
  margin-top: 15vh;
  width: 100%;
}

.homepageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto auto;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  background-color: var(--background-color);
  box-sizing: border-box; /* Ensure padding is included in width */
  overflow-x: hidden;
}
.WelcomeSection {
  grid-column: 1 / -1; /* Span all columns */
  justify-content: center;
  align-items: center;
  position: relative; /* Required for absolute children */
  background-image: url(../../assets/Home/RoomBackgrounds1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}
.Title {
  font-family: var(--font-primary);
  text-align: center;
  justify-content: center;
  color: var(--background-color);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-primary);
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.titleAccent {
  font-family: var(--font-accent);
  color: var(--background-color);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.carouselSection {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}
/* Second Row: Vision Section */
.visionSection {
  grid-column: 1 / -1; /* Span all columns */
  position: relative; /* Required for absolute children */
  background-image: url(../../assets/Home/OurVisonBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* So p is under h1 */
  padding: 20px;
  color: var(--primary-font-color);
  text-align: center;
}

.visionTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--background-color);
  font-family: var(--font-secondary);
  border-bottom: 5px solid var(--background-color);
  width: 50%;
  padding: 10px 20px;
  z-index: 2;
}

.visionSection p {
  margin-top: 5%; /* Makes space for title to overlay */
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--background-color);
  max-width: 800px;
}
.YouLoveSection {
  grid-column: 1 / -1; /* Span all columns */
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-font-color);
  position: relative; /* Required for absolute children */
  height: 60vh;
}
.YouLoveTitle {
  color: var(--primary-font-color);
  font-family: var(--font-secondary);
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.WhatYoullLove {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  position: absolute;
  bottom: 15%;
  overflow-x: auto;
}
.WhatYoullLove h1 {
  color: var(--primary-font-color);
}

.AsSeenOnYouSection {
  grid-column: 1 / -1; /* Span all columns */
  justify-content: center;
  align-items: center;
  position: relative; /* Required for absolute children */
  background-image: url(../../assets/Home/AsSeenOnYou.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}


/* Third Row: Map and Address */
.visitUsSection {
  gap: 40px;
  padding: 20px;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  color: var(--primary-font-color);
}
.visitUsSection h2 {
  margin-bottom: 10px;
  border-bottom: 15px solid var(--secondary-accent-color);
  font-family: var(--font-secondary);
}

.visitUsSection p {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--primary-font-color);
}
.FindUs {
  grid-column: 1 / 1;
  height: 300px; /* Set a fixed height for the map */
  width: 100%;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  justify-content: center;
  text-align: center;
}
.mapSection {
  grid-column: 2 / 2;
  height: 400px; /* Set a fixed height for the map */
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}
main{
  padding-top: 0px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .pageContent {
    margin-top: 10vh;
    max-width: 767px;
  }
  .homepageLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
    max-width: 100%;
  }
  .WelcomeSection {
    height: 500px;
    background-image: url(../../assets/Home/JenRoomBackground.svg);
  }

  .titleAccent {
    top: 40%;
  }
  .YouLoveSection {
    height: 70vh;
  }

  .YouLoveTitle {
  font-size: 220%;
}
  .WhatYoullLove {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    bottom: 5%;
  }

  .visionTitle {
    top: 10%;
  }

  .visionSection p {
    margin-top: 5%; /* Makes space for title to overlay */
    font-family: var(--font-body);
    line-height: 1.6;
    color: var(--background-color);
    max-width: 100%;
  }

  .titleSection,
  .logoSection,
  .visionSection,
  .visionImageContainer,
  .visitUsSection,
  .mapSection {
    grid-column: 1 / 2;
  }

  .visionImage {
    max-width: 80%;
  }

  .carouselSection {
    grid-column: 1 / 2;
  }
}
