/* Google Fonts Import for Lora, Arapey, and Moontime */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Arapey:wght@400&family=Moontime&display=swap");
:root {
  /* Fonts */
  --max-width: 100vw;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f7f6f6;
  --accent-color: #67482c;
  --secondary-accent-color: #b58563;
  --secondary-color: #92747e;
}

.pageContent {
  margin-top: 20vh;
  width: 100%;
}

.homepageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--background-color);
}
.WelcomeSection {
  grid-column: 1 / -1; /* Span all columns */
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-font-color);
  position: relative; /* Required for absolute children */
  background-image: url(../../assets/Home/RoomBackgrounds1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
}
.WelcomeRooms{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
}
.YouLoveSection {
  grid-column: 1 / -1; /* Span all columns */
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-font-color);
}
.WhatLoveLove {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
}
.YouLoveTitle {
  color: var(--primary-font-color);
  font-family: var(--font-secondary);
}

.title {
  font-family: var(--font-primary);
  text-align: center;
  color: var(--background-color);
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-primary);
}

.titleAccent {
  font-family: var(--font-accent);
  color: var(--background-color);
  text-align: center;
}

/* Second Row: Vision Section */
.visionSection {
  grid-column: 1 / -1; /* Span all columns */
  position: relative; /* Required for absolute children */
  background-image: url(../../assets/Home/OurVisonBackground.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* So p is under h1 */
  padding: 20px;
  color: var(--primary-font-color);
  text-align: center;
}

.visionTitle {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--background-color);
  font-family: var(--font-secondary);
  border-bottom: 5px solid var(--background-color);
  width: 50%;
  padding: 10px 20px;
  z-index: 2;
}

.visionSection p {
  margin-top: 5%; /* Makes space for title to overlay */
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--background-color);
  max-width: 800px;
}

/* Third Row: Map and Address */
.mapSection {
  grid-column: 1 / 2;
  height: 400px; /* Set a fixed height for the map */
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.visitUsSection {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.visitUsSection h2 {
  margin-bottom: 10px;
  border-bottom: 15px solid var(--secondary-accent-color);
  font-family: var(--font-secondary);
}

.visitUsSection p {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
  color: var(--primary-font-color);
}
.carouselSection {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  border-radius: var(--border-radius);
  background-color: var(--secondary-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  .pageContent {
    margin-top: 15vh;
  }
  .homepageLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
  }

  .WhatLoveLove {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
  .visionTitle {
    top: 10%;
  }

  .visionSection p {
    margin-top: 5%; /* Makes space for title to overlay */
    font-family: var(--font-body);
    line-height: 1.6;
    color: var(--background-color);
    max-width: 800px;
  }

  .titleSection,
  .logoSection,
  .visionSection,
  .visionImageContainer,
  .visitUsSection,
  .mapSection {
    grid-column: 1 / 2;
  }

  .visionImage {
    max-width: 80%;
  }

  .carouselSection {
    grid-column: 1 / 2;
  }
}
