/* Google Fonts Import for Lora, Arapey, and Moontime */

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Arapey:wght@400&family=Moontime&display=swap");

:root {
  /* Fonts */
  --max-width: 100vw;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f7f6f6;
  --accent-color: #67482c;
  --secondary-accent-color: #b58563;
  --secondary-color: #92747e;
}

.pageContent {
  margin-top:20vh;
}

.homepageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 20px;
  padding: 20px;
  max-width: var(--max-width);
  margin: 0 auto;
}

/* First Row: Logo and Title */
.logoSection {
  grid-column: 1 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  max-width: 100%;
  height: auto;
}

.titleSection {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: var(--font-primary);
  text-align: center;
}
.subtitle {
  font-size: 1rem;
  text-align: center;
  background-color: var(--secondary-color);
  padding: 10px;
  color: var(--background-color);
  font-family: var(--font-primary);
}

.titleAccent {
  font-family: var(--font-accent);
  color: var(--primary-font-color);
  text-align: center;
}

/* Second Row: Vision Section */
.visionSection {
  grid-column: 1 / 2;
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--primary-font-color);
}

.visionImageContainer {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.visionImage {
  max-width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}
.visionTitle {
  font-family: var(--font-secondary);
  color: var(--primary-font-color);
  border-bottom: 15px solid var(--secondary-accent-color);
}

/* Third Row: Map and Address */
.mapSection {
  grid-column: 1 / 2;
  height: 400px; /* Set a fixed height for the map */
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.visitUsSection {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;;
}

.visitUsSection h2 {
  margin-bottom: 10px;
  border-bottom: 15px solid var(--secondary-accent-color);
  font-family: var(--font-secondary);
}

.visitUsSection p {
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {

  .pageContent {
  margin-top: 15vh;
}
  .homepageLayout {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    padding: 10px;
  }

  .titleSection, .logoSection, .visionSection, .visionImageContainer, .mapSection, .visitUsSection {
    grid-column: 1 / 2;
  }

  .visionImage {
    max-width: 80%;
  }
}