:root {
  /* Fonts */
  --max-width: 100vw;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font color */
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colors */
  --foreground-color: #000000;
  --background-color: #f7f6f6;
  --accent-color: #67482c;
  --secondary-accent-color: #b58563;
  --secondary-color: #92747e;
}

/* Treatments.module.css */

.pageContent {
  margin-top: 20vh;
}

.TreatmentPageLayout {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: auto auto auto auto; /* Four rows */
  gap: 20px;
  padding: 20px;
}

.logoSection {
  grid-column: 1 / 2; /* Logo in the first column */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainLogo {
  max-width: 100%;
  height: auto;
}

.titleSection {
  grid-column: 2 / 3; /* Title in the second column */
  display: flex;
  justify-content: center; /* Align to the left */
  align-items: center;
}

.title {
  font-family: var(--font-primary);
  text-align: center; /* Align title text to the left */
}

.serviceImageSection {
  grid-column: 1 / 3; /* Full width for first image */
  display: flex;
  justify-content: center; /* Center the first image */
}

.descriptionSection {
  grid-column: 1 / 3; /* Full width for description */
  width: 80vw;
  text-align: center; /* Center text horizontally */
  margin: 20px; /* Optional: Adds some space around the description */
  padding: 0 10%; /* Optional: Adds horizontal padding */
  line-height: 1.5; 
}
.descriptionSection ul {
  list-style-position: inside; /* Optional: Positions bullet points inside the list */
  padding-left: 0; /* Optional: Removes left padding for the list */
}

.descriptionSection strong {
  font-weight: bold; /* Optional: Ensures strong text is bold */
}

.remainingImages {
  grid-column: 1 / 3; /* Full width for remaining images */
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns for images */
  gap: 10px; /* Space between images */
}

.imageColumn {
  display: flex;
  justify-content: center; /* Center images in each column */
}

.treatmentImage {
  max-width: 40vw; /* Ensure the image is responsive */
  height: auto;
}

/* Small screens */
@media (max-width: 768px) {
    .pageContent {
  margin-top: 15vh;
}
  .TreatmentPageLayout {
    grid-template-columns: 1fr; /* Single column on small screens */
  }

  .logoSection,
  .titleSection,
  .serviceImageSection,
  .descriptionSection,
  .remainingImages {
    grid-column: 1 / 2; /* Center elements in single column */
  }

  .serviceImageSection,
  .remainingImages {
    flex-direction: column; /* Stack images vertically */
    justify-content: center;
    align-items: center;
  }

  .treatmentImage {
    width: 100%;
     /* Adjust image size on small screens */
  }
}
