:root {
    /*Fonts*/
  --max-width: 100%;
  --border-radius: 12px;
  --font-primary: "Lora", serif;
  --font-secondary: "ALTA", sans-serif;
  --font-accent: "Moontime", cursive;
  --font-body: "Arapey", serif;

  /* Font colour*/
  --primary-font-color: #000000;
  --secondary-font-color: #ffffff;
  --accent-font-color: #eb9486;

  /* Colours*/
    --foreground-color: #000000;
  --background-color: #f7f6f6; 
  --accent-color: #67482c;
  --secondary-color: #92747e;
}
/* Base styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  line-height: 1.6;
}

/* Main content styling */
main {
  padding: 2rem;
  text-align: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 60px; /* Adjust according to the heights of navbar and header */
}

main h1 {
  font-family: var(--font-secondary);
  font-size: 3rem;
  color: var(--accent-font-color);
}

main p {
  font-family: var(--font-body);
  font-size: 1.2rem;
  color: var(--foreground-color);
}

/* Adjustment for light or dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #ffffff;
    --background-color: #000000;
  }
}

/* Element styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--foreground-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;
  font-family: var(--font-secondary);
}

a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

p {
  font-family: var(--font-body);
  color: var(--foreground-color);
}